@mixin typeset {
  color: $gray;
  font-family: $ff-default;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.375;

  a {
    color: $gray;
  }

  strong,
  b {
    font-weight: 600;
  }

  em,
  i {
    color: $red;
  }

  p {
    @include margin-fix;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  h1 {
    color: $red;
    font-size: 2.5rem;
    font-weight: 600;
  }

  h2 {
    @include margin-fix;
    color: $red;
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 2rem;
    margin-top: 4rem;
  }

  h3 {
    @include margin-fix;
    color: $red;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  blockquote {

    p {
      color: $red;
      font-family: 'CrimsonText', serif;
      font-size: 1.6125rem;
      font-style: italic;
      line-height: 1.125;
    }

    strong,
    b {
      font-weight: 600;
    }
  }

  ul {
    padding-left: 5vmin;

    li {
      font-size: 1.25rem;
      list-style: disc;
    }
  }

  hr {
    background: none;
    display: block;
    height: .5rem;
    width: 100%;
  }
}
