$ff-default: 'EncodeSans', sans-serif;

$day: #fff;
$night: #000;

$gray: #3a3a39;

$day: #fff;
$night: #000;
$shadow: #707070;
$silver: #606060;

$red: #e73331;
$rose: #ffe8e3;
$rose-light: #fff3f1;

$gray-dark: #2f2b10;
$flamingo: #e54b49;

$peach: #ea7141;

$mq-s: 'only screen and (min-width: 40em)';
$mq-m: 'only screen and (min-width: 60em)';
$mq-l: 'only screen and (min-width: 80em)';
