@font-face {
  font-family: 'EncodeSans';
  src: url('../fonts/EncodeSans400.woff2') format('woff2'),
       url('../fonts/EncodeSans400.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'EncodeSans';
  src: url('../fonts/EncodeSans600.woff2') format('woff2'),
       url('../fonts/EncodeSans600.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'CrimsonText';
  src: url('../fonts/CrimsonText400.woff2') format('woff2'),
       url('../fonts/CrimsonText400.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CrimsonText';
  src: url('../fonts/CrimsonText400i.woff2') format('woff2'),
       url('../fonts/CrimsonText400i.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'CrimsonText';
  src: url('../fonts/CrimsonText600.woff2') format('woff2'),
       url('../fonts/CrimsonText600.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'CrimsonText';
  src: url('../fonts/CrimsonText600i.woff2') format('woff2'),
       url('../fonts/CrimsonText600i.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}
