@import '../settings/variables';
@import '../mixins/typography';
.ce-image {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;

  &__image {
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  &__text {
    min-height: 100vw;
    padding: 4rem 2rem;
    width: 100%;
    z-index: 2;

    @media #{$mq-s} {
      padding: 4rem;
      min-height: 80vw;
    }

    @media #{$mq-m} {
      margin-left: auto;
      min-height: 60vw;
      width: 40%;
    }

    @media #{$mq-l} {
      min-height: 50vw;
      padding: 6rem 4rem;
    }

    > blockquote *,
    > blockquote p {
      color: $day;
    }
  }
}
