@import '../settings/variables';

.ce-testimonial {
  background-color: $rose;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;

  @media #{$mq-m} {
    flex-flow: row nowrap;
  }

  &__image {
    background-size: cover;
    min-height: 100vw;
    width: 100%;
    z-index: 1;

    @media #{$mq-s} {
      min-height: 80vw;
    }

    @media #{$mq-m} {
      min-height: 60vw;
      width: 60%;
    }

    @media #{$mq-l} {
      min-height: 50vw;
      width: 60%;
    }
  }

  &__text {
    padding: 4rem 2rem;
    width: 100%;

    @media #{$mq-s} {
      padding: 4rem;
    }

    @media #{$mq-m} {
      width: 40%;
    }

    @media #{$mq-l} {
      padding: 6rem 4rem;
    }
  }
}
