@import '../settings/variables';

.ce-text {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;

  &--colored {
    background-color: $rose-light;
    background-image: url('../images/bubbles.svg');
    background-position: 12.5%;
    background-size: 45rem 90rem;
  }

  & + & {
    margin: -4rem 0 0;
  }

  &__icon {
    margin-top: 4rem;

    @media #{$mq-l} {
      margin-bottom: -2rem;
      margin-top: 6rem;
    }

    svg {
      color: $day;
      display: block;
      height: 17rem;
      left: -1rem;
      position: absolute;
      top: -1rem;
      width: 17rem;
      z-index: 2;
    }

    img {
      display: block;
      height: auto;
      width: 15rem;
      z-index: 1;
    }
  }

  &__text {
    padding: 4rem 2rem;
    width: 100%;

    @media #{$mq-s} {
      padding: 4rem;
    }

    @media #{$mq-m} {
      width: 80%;
    }

    @media #{$mq-l} {
      padding: 6rem 4rem;
      width: 60%;
    }
  }

  .video {
    height: 0;
    margin-top: 4rem;
    overflow: hidden;
    padding-top: 56.25%;
    width: 100%;

    iframe {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}
