@import '../settings/variables';

.ce-textimage {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  width: 100%;
  flex-wrap: wrap;
  background-color: $night;

  &__image {
    background-size: cover;
    display: block;
    height: 100vw;
    width: 100%;
    z-index: 1;

    @media #{$mq-s} {
      height: 80vw;
    }

    @media #{$mq-m} {
      height: 60vw;
    }

    @media #{$mq-l} {
      height: 50vw;
    }

    &::before {
      content: '';
      background: linear-gradient(to bottom, rgba($night, 0), $night);
      position: absolute;
      bottom: 0;
      height: 15vw;
      width: 100%;
      display: block;
    }
  }

  &__text {
    display: block;
    width: 100%;
    padding: 2rem 2rem 4rem;
    z-index: 2;
    margin-top: -25vw;

    @media #{$mq-s} {
      padding: 2rem 4rem 4rem;
      margin-top: -20vw;
    }

    @media #{$mq-m} {
      width: 80%;
      margin-top: -15vw;
    }

    @media #{$mq-l} {
      align-self: flex-end;
      width: 40%;
      margin-top: -35vw;
      padding: 2rem 4rem 6rem;
    }

    > blockquote *,
    > blockquote p {
      color: $day;
    }
  }
}
