@import '../settings/variables';

.cover {
  align-items: flex-end;
  display: flex;
  flex-flow: column nowrap;
  margin-top: -15vmin;
  width: 100%;
  z-index: 100;

  @media #{$mq-m} {
    margin-top: 15vmin;
  }

  &__claim {
    mix-blend-mode: multiply;
    transform: translate(+5vmin, +15vmin);
    z-index: 2;

    @media #{$mq-m} {
      left: 0;
      position: absolute;
      top: 0;
      transform: translate(-5vmin, -30vmin);
    }

    svg {
      display: block;
      height: 45vmin;
      width: 45vmin;
    }
  }

  &__image {
    background-size: cover;
    display: block;
    height: 100vw;
    width: 100%;
    z-index: 1;

    @media #{$mq-s} {
      height: 80vw;
    }

    @media #{$mq-m} {
      height: 60vw;
    }

    @media #{$mq-l} {
      height: 50vw;
    }
  }
}
