@import '../mixins/typography';

.menu {
  align-content: center;
  align-items: center;
  background-color: $flamingo;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;

  .a {
    align-self: center;
    color: $day;
    padding-bottom: 4rem;
  }

  a:link {
    color: $day;
    text-decoration: none;
  }

  a:visited {
    color: $day;
    text-decoration: none;
  }

  a:hover {
    color: $day;
    text-decoration: none;
  }

  a:active {
    color: $day;
    text-decoration: none;
  }
}


@media #{$mq-m}  {
  .menu {
    align-content: flex-start;
    align-items: flex-start;
    background-color: inherit;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: auto;


    a {
      align-self: flex-start;
      background-color: $flamingo;
      padding: 1rem 3rem 1rem 0;
    }

    a:first-child {
      padding-left: 4rem;
    }

    a:last-child {
      padding-right: 4rem;
    }
  }
}
