@import '../settings/variables';
@import '../mixins/typography';

.page-newsletter {
  background: linear-gradient(to bottom, $peach, $flamingo);
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  left: 0;
  position: fixed;
  transform: translateY(+100%);
  transition: transform ease-in-out .5s, bottom ease-in-out .5s;
  width: 100%;
  will-change: transform, opacity, pointer-events;
  z-index: 10000;

  @media #{$mq-s} {
    left: 4rem;
    max-width: 24rem;
  }

  .page--scrolled & {
    bottom: 3rem;
  }

  &--active {
    bottom: 0;
    transform: translateY(0);
  }

  &__title {
    align-items: center;
    color: $day;
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    height: 3rem;
    padding: 1rem;
    width: 100%;

    &__text {
      font-weight: 700;
      line-height: 1;
      padding: 0 1rem;
    }

    svg {
      display: none;
      height: 1.5rem;
      margin-left: auto;
      width: 1.5rem;

      .page-newsletter--active & {
        display: block;
      }
    }
  }

  &__form {
    padding: 0 2rem 2rem;

    * {
      color: $day;
    }

    &__field {
      @include margin-fix;

      a {
        border-bottom: .0625rem rgba($day, .5) solid;
        color: $day;
      }

      p {
        font-size: .75rem;
      }

      label {
        color: $day;
        display: block;
        line-height: 1;
        margin: 1rem auto;
      }

      input {
        appearance: none;
        background: none;
        border: .0625rem solid $day;
        border-radius: 0;
        color: $day;
        display: block;
        height: auto;
        padding: .6125rem .5rem .375rem;
        width: 100%;
      }

      input[type='checkbox'] {
        cursor: pointer;
        flex: 0 0 auto;
        height: 1.5rem;
        padding: 0;
        width: 1.5rem;

        &:checked {
          background-color: rgba($day, .5);
          border: .0625rem solid $day;
          color: $day;
        }
      }

      .btn {
        cursor: pointer;
        padding: .5rem 1rem;
        color: $red;
        background: $day;
        margin-top: 1rem;
      }
    }

    div span { //newsletter2go form styling
      align-items: center;
      display: flex;

      label {
        font-size: .75rem;
        margin-left: 1rem;
        text-align: left;
        text-transform: none;
      }
    }
  }
}
