@import '../settings/variables';
@import '../mixins/typography';
.page-content {
  display: flex;
  flex-flow: column nowrap;
  padding: 5vmin;
  width: 100%;

  @media #{$mq-m} {
    flex-flow: row nowrap;
    justify-content: center;

  }


  &__left {
    padding: 2.5vmin;

    @media #{$mq-m} {
      width: 50%;
    }

    @media #{$mq-l} {
    }

    img {
      display: block;
      height: auto;
      margin: 2.5vmin 0;
      max-width: 40rem;
      width: 100%;
    }
  }

  &__right {
    flex: column wrap;
    height: auto;
    padding: 2.5vmin;

    @media #{$mq-m} {
      width: 25%;
    }

    @media #{$mq-l} {
    }

    .ce-donate {
      background: linear-gradient(to bottom, $peach, $flamingo);
      color: $day;
      padding: 2.5vmin;
      width: 100%;
    }

    .ce-quotes {
      margin: 2.5vmin 0;
      width: 100%;

      img {
        height: auto;
        width: 100%;
      }
    }
  }
}
