@import '../settings/variables';
@import '../mixins/typography';

.page-cta {
  align-items: center;
  background-image: url('../images/sun.svg');
  background-size: cover;
  bottom: 1rem;
  display: flex;
  flex-flow: column nowrap;
  height: 8rem;
  justify-content: center;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  right: 1rem;
  transition: transform ease-out .25s, opacity ease-in-out .5s;
  width: 8rem;
  will-change: transform;
  z-index: 10000;

  &:hover {
    transform: scale(1.125);
  }

  @media #{$mq-m} {
    bottom: 2rem;
    height: 12rem;
    right: 2rem;
    width: 12rem;
  }

  @media #{$mq-m} {
    z-index: 101;
  }

  .page--scrolled & {
    opacity: 1;
    pointer-events: all;
  }

  &--offset {
    bottom: 4rem;

    @media #{$mq-s} {
      bottom: 1rem;
    }

    @media #{$mq-m} {
      bottom: 2rem;
    }
  }

  &__text {
    color: $day;
    font-size: 1.125rem;
    line-height: 1.25;
    pointer-events: none;
    text-align: center;

    @media #{$mq-m} {
      font-size: 1.5rem;
    }
  }
}
