@import '../settings/variables';
@import '../mixins/typography';

.page-footer {
  background: linear-gradient(to bottom, $peach, $flamingo);
  display: flex;
  flex-flow: column nowrap;
  padding: 2rem 0;
  width: 100%;
  z-index: 1000002;

  @media #{$mq-m} {
    flex-flow: row wrap;
  }

  @media #{$mq-l} {
    padding: 4rem 0 2rem;
  }

  *,
  a {
    color: $day;
  }

  &__contact {
    padding: 2rem;
    width: 100%;

    @media #{$mq-s} {
      padding: 2rem 4rem;
    }

    @media #{$mq-m} {
      width: 40%;
    }
  }

  &__website-link {
    display: flex;
    padding: 2rem;
    width: 100%;

    @media #{$mq-s} {
      padding: 2rem 4rem;
    }

    @media #{$mq-m} {
      width: 60%;
    }

    a {
      align-items: center;
      border: .125rem $day solid;
      display: flex;
      flex-flow: row nowrap;
      height: 4rem;
      transition: background-color ease-out .25s;
      width: 16rem;
      will-change: background-color;
    }

    a:hover {
      background-color: rgba($day, .25);
    }

    a::before {
      align-items: center;
      background-color: $day;
      color: $red;
      content: '→';
      display: flex;
      flex: 0 0 auto;
      font-size: 2rem;
      height: 100%;
      justify-content: center;
      width: 4rem;
    }

    span {
      font-size: .875rem;
      padding: .75rem 1rem;
    }
  }

  &__code {
    order: -1;
    padding: 2rem;
    width: 100%;

    @media #{$mq-s} {
      padding: 2rem 4rem;
    }

    @media #{$mq-m} {
      order: -2;
      padding: 2rem 0 2rem 4rem;
      width: 12rem;
    }

    img {
      display: block;
      height: auto;
      max-width: 100%;
      width: 8rem;
    }

    p {
      font-size: .75rem;
      margin-top: 1rem;
      max-width: 100%;
      width: 8rem;
    }
  }

  &__donate {
    order: -2;
    padding: 2rem;
    width: 100%;

    @media #{$mq-s} {
      padding: 2rem 4rem;
    }

    @media #{$mq-m} {
      order: -1;
      padding: 2rem 0 2rem 4rem;
      width: 60%;

      &:nth-child(2) {
        width: calc(60% - 12rem);
      }
    }

    &__account {
      font-size: 1.75rem;
      font-weight: 600;
    }
  }

  &__meta {
    display: flex;
    flex-flow: row nowrap;
    padding: 2rem;
    width: 100%;

    @media #{$mq-s} {
      padding: 2rem 4rem;
    }

    @media #{$mq-m} {
      align-self: flex-end;
      width: 40%;
    }

    a {
      margin-right: 1rem;

      @media #{$mq-m} {
        margin-right: 2rem;
      }
    }
  }
}
