@import '../mixins/typography';

.page {
  @include typeset;
  align-items: center;
  background-color: $day;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  min-width: 20rem;
  overflow-x: hidden;
  width: 100%;

  &--meta {
    background-color: $rose;
  }
}
