@import '../settings/variables';

.page-header {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;

  @media #{$mq-m} {
    align-items: flex-end;
  }

  &__logo {
    padding: 2rem;
    width: 100%;

    @media #{$mq-s} {
      padding: 2rem 4rem;
    }

    @media #{$mq-m} {
      padding: 2rem 4rem;
      width: 60%;
    }

    svg {
      display: block;
      height: 20vmin;
      min-height: 8rem;
      min-width: 16rem;
      width: 40vmin;
    }
  }
}
