@import '../settings/variables';

.page-menu {
  align-items: flex-end;
  display: flex;
  flex-flow: column nowrap;
  left: 0;
  padding: calc(7.5vmin - .5rem);
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;

  @media #{$mq-m} {
    align-items: flex-start;
  }

  a {
    color: $red;
    font-size: .875rem;
    font-weight: 600;
    padding: .5rem;
    pointer-events: all;
    text-transform: uppercase;
  }
}
