@import '../settings/variables';

.title {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;

  @media #{$mq-m} {
    align-items: flex-end;
  }

  .page--meta & {
    align-items: center;
  }

  &__text {
    padding: 2rem;
    width: 100%;

    @media #{$mq-s} {
      padding: 2rem 4rem 4rem;
    }

    @media #{$mq-m} {
      padding: 4rem;
      width: 60%;

      .page--meta & {
        width: 80%;
      }
    }

    @media #{$mq-l} {
      padding: 4rem 4rem 2rem;

      .page--meta & {
        width: 60%;
      }
    }
  }
}
